<header>
	<h1>SLANG TRANSLATOR</h1>
</header>
<div>  
		<textarea id="textboxinput" name="comments" cols="50" rows="10" class="html-text-box"></textarea>
		
		<p>
			<select id="API" class="form-control" style="font-size:20px" name="API">
			<option value="leetspeak.json">LEETSPEAK</option>
			<option value="brooklyn.json">BROOKLYN</option>
			<option value="morse.json">MORSE</option>
			<option value="fudd.json">FUDD</option>
			</select>
			<input id="submit" type="submit" value="TRANSLATE" class="html-text-box" style="font-size:20px"><input id="reset" type="reset" value="RESET" class="html-text-box" style="font-size:20px">
		</p>
	
	
	<div>
		<textarea id="textboxoutput" name="comments" cols="50" rows="10" class="html-text-box" readonly></textarea>
	</div>
</div>
